<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>191720887438-0h6li6741pmdvkoklsdng6a9r30igv4n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.191720887438-0h6li6741pmdvkoklsdng6a9r30igv4n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>191720887438-s5o9hqvnsfu8smdbregqlhq3rjj5b7e1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBM4_rKVYqp28lGl_rTRb-nXJ6fpElTykU</string>
	<key>GCM_SENDER_ID</key>
	<string>191720887438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.csc.passdriver</string>
	<key>PROJECT_ID</key>
	<string>pass-7f424</string>
	<key>STORAGE_BUCKET</key>
	<string>pass-7f424.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:191720887438:ios:68c2698ab0bcf1d5dfa5df</string>
	<key>DATABASE_URL</key>
	<string>https://pass-7f424-default-rtdb.firebaseio.com</string>
</dict>
</plist>